.rules {
  width: 100vw;
}

.rules__container {
  background: #1a1a1a;
  max-width: 70%;
  padding: 20px;
  margin: 2% auto;
}

.rules__info {
  font-size: 1rem;
}

.rules__win {
  font-size: 1.5rem;
  margin: 0 0 20px 0;
}

.rules__kd_title {
  margin: 0 0 15px 0;
  font-weight: 600;
}

.rules__rs_title {
  margin: 15px 0;
}

.rules__kd_formula {
  padding: 10px 20px 0 0;
}

.rules__kd_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.rules__general {
  margin: 20px 0;
}
