.header {
  background: transparent;
  max-height: 120px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  opacity: 1;
}

.header-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.header-menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  position: relative;
}

.menu__list {
  display: flex;
  align-items: center;
  width: 100%;
}

.tabSection {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: center;
}

.header-btn {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.2rem;
  background: #00000000;
  color: #fff;
  position: relative;
  transition: 0.3s all ease;
}

.header-btn:hover {
  color: #df1313;
  transition: 0.3s all ease;
}

.header__logo {
  max-width: 90px;
}

.header__logo img {
  width: 100%;
}

.menu__list .button-container {
  position: relative;
}

.menu__list .button-container .nav-item {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.2rem;
  background: #00000000;
  color: #fff;
  position: relative;
  transition: 0.3s all ease;
  text-align: center;
}

.menu__list .button-container .nav-item:hover {
  color: #df1313;
  transition: 0.3s all ease;
}

.menu__list .button-container::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #df1313;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu__list .button-container:hover::after {
  transform: scaleX(1);
}

.user-info {
  position: relative;
  display: inline-block;
}

.avatar-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  margin-right: 10px;
}

.username {
  color: #fff;
  font-family: "Open Sans";
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  left: 0;
  background: #222;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 200px;
  z-index: 10;
}

.dropdown-item {
  font-size: 1rem;
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown-item:hover {
  background: #444;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-family: "Open Sans";
}

.logout-button:hover {
  background: #a00;
}

.header__person_logIn, .userid, .dropdown-item{
  font-family: "Open Sans" !important;
}

.header__person_logIn{
  background-color: #00000000;
  color: #fff;
  font-size: 1rem;
}

.header__person_logIn:hover{
  text-decoration: underline;
  transition: 0.3s all ease;
}

.user-details{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userid{
    font-size: 0.7rem;
}

.header-menu__pc{
  display: none;
}

.burger-menu{
  display: none;
}
@media only screen and (max-width: 967px) {
  .tabSection{
    gap: 20px;
  }
}

@media only screen and (max-width: 885px) {
  .burger-menu{
    display: block;
  }

  .menu__list{
    display: none;
  }
  
  .tabSection{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20% 0 0 0;
  }

  .button-container{
    font-family: "Open Sans";
    font-size: 1.2rem;
    background-color: #00000000;
  }

  .header__logo{
    margin: 0 0 0 30%;
  }

  .header-menu{
    flex-grow: 1;
    justify-content: flex-end;
  }

  .nav-item{
    background-color: #00000000 !important;
  }
}
