/* First Header */
.header {
    background: transparent;
    max-height: 120px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    opacity: 1;
  }
  
  /* Container styling */
  .header-container {
    /* position: absolute; */
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .header-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tabSection {
    display: flex;
    gap: 40px;
  }
  
  /* Button styling */
  .header-btn {
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 1.2rem;
    background: #00000000;
    color: #fff;
    position: relative;
    transition: 0.3s all ease;
  }
  
  .header-btn:hover {
    color: #df1313;
    transition: 0.3s all ease;
  }
  
  /* Logo Styling */
  .header__logo {
    width: 8%;
  }
  
  .header__logo img {
    width: 100%;
  }

/* Стилі для пунктів меню */
.menu__list .button-container {
  position: relative;
}

.menu__list .button-container .nav-item {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 1.2rem;
  background: #00000000;
  color: #fff;
  position: relative;
  transition: 0.3s all ease;
  text-align: center;
}

.menu__list .button-container .nav-item:hover {
  color: #df1313;
  transition: 0.3s all ease;
}

.menu__list .button-container::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #df1313;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu__list .button-container:hover::after {
  transform: scaleX(1);
}
