@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.about-page {
    background: #000000;
    width: 100vw;
    height: auto;
    color: #fff;
}

.about__container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.about__title{
    text-align: center;
    font-size: 3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.833), rgba(0, 0, 0, 0.8)), 
                url('../../../../../public/aboutPageBg.avif') center/cover;
    color: white;
    display: inline-block; 
    padding: 50px 0; 
    font-weight: bold;
    margin: 130px 0 5% 0;
    -webkit-box-shadow: -1px -1px 40px 9px rgba(199,8,8,0.62);
    -moz-box-shadow: -1px -1px 40px 9px rgba(199,8,8,0.62);
    box-shadow: -1px -1px 40px 9px rgba(199,8,8,0.62);
}

.about__text_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 5%;
}

.about__text_list{
    list-style: none;
    padding: 0;
}

.about__join_container{
    text-align: center;
}

.about__join_btn{
    display: inline-block;
    padding: 10px 20px;
    background: #ff9900;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.about__info_box{
    display: flex;
    gap: 20px;
}